extraDeploy:
  - |
    {{ tpl (readFile "master-secret.yaml") . | nindent 4 | trim }}

image:
  registry: docker.io
  repository: bitnami/sealed-secrets
  tag: 0.23.0-scratch-r2

resources: {}

service:
  type: ClusterIP
  ports:
    http: 8080
    name: http

ingress:
  enabled: false

rbac:
  create: true

serviceAccount:
  create: true

metrics:
  serviceMonitor:
    enabled: false
