jupyterhub:
  hub:
    revisionHistoryLimit: 2
    config:
      JupyterHub:
        admin_access: true
        authenticator_class: CloudflareAuthenticator
      RemoteUserAuthenticator:
        header_name: Cf-Access-Authenticated-User-Email
        auto_login: true
        create_system_users: false
      Authenticator:
        admin_users:
          - dongocson.work@gmail.com
    service:
      type: ClusterIP
    baseUrl: /
    concurrentSpawnLimit: 64
    consecutiveFailureLimit: 5
    activeServerLimit: 4
    deploymentStrategy:
      type: Recreate
    db:
      type: sqlite-pvc
      pvc:
        accessModes:
          - ReadWriteOnce
        storage: 1Gi
      url:
      password:
    image:
      name: quay.io/jupyterhub/k8s-hub
      tag: "4.3.2"
      
    resources: {}
    
    allowNamedServers: false
    shutdownOnLogout: true
    extraConfig:
      00-cloudflare-auth: |
        from jupyterhub.auth import Authenticator
        from tornado import web

        class CloudflareAuthenticator(Authenticator):
          async def authenticate(self, handler, data=None):
            email = handler.request.headers.get(
              "Cf-Access-Authenticated-User-Email"
            )

            if not email:
              raise web.HTTPError(403)

            return email
        
        c.JupyterHub.authenticator_class = CloudflareAuthenticator
        c.Authenticator.auto_login = True
        c.Authenticator.allow_all = True

  rbac:
    create: true
    
  proxy:
    secretToken:
    
    service:
      type: ClusterIP
    chp:
      revisionHistoryLimit: 2
      image:
        name: quay.io/jupyterhub/configurable-http-proxy
        tag: "5.1.0"
        
      resources: {}
      
  singleuser:
    networkTools:
      image:
        name: quay.io/jupyterhub/k8s-network-tools
        tag: "4.3.2"
      resources: {}

    cloudMetadata:
      blockWithIptables: true
      ip: 169.254.169.254
      
    events: true
    allowPrivilegeEscalation: false
    uid: 1000
    fsGid: 100
    storage:
      type: dynamic
      static:
        pvcName:
        subPath: "{username}"
      capacity: 2Gi
      homeMountPath: /home/jovyan
    image:
      name: jupyter/pyspark-notebook
      tag: "latest"
    startTimeout: 300
    memory:
      limit: 1G
      guarantee: 200M
    cmd: jupyterhub-singleuser
    extraEnv:
      JUPYTER_GATEWAY_URL: http://enterprise-gateway.jupyterhub.svc.cluster.local:8888
    
  scheduling:
    userScheduler:
      enabled: true
      revisionHistoryLimit: 2
      replicas: 2
      logLevel: 4
      plugins:
        score:
          disabled:
            - name: NodeResourcesBalancedAllocation
            - name: NodeAffinity
            - name: InterPodAffinity
            - name: NodeResourcesFit
            - name: ImageLocality
          enabled:
            - name: NodeAffinity
              weight: 14631
            - name: InterPodAffinity
              weight: 1331
            - name: NodeResourcesFit
              weight: 121
            - name: ImageLocality
              weight: 11
      pluginConfig:
        - name: NodeResourcesFit
          args:
            scoringStrategy:
              type: MostAllocated
              resources:
                - name: cpu
                  weight: 1
                - name: memory
                  weight: 1
      image:
        name: registry.k8s.io/kube-scheduler
        tag: "v1.30.14"
        
      resources: {}
      
    userPlaceholder:
      enabled: true
      image:
        name: registry.k8s.io/pause
        tag: "3.10.1"
      resources: {}
    corePods:
      tolerations:
        - key: hub.jupyter.org/dedicated
          operator: Equal
          value: core
          effect: NoSchedule
        - key: hub.jupyter.org_dedicated
          operator: Equal
          value: core
          effect: NoSchedule
      nodeAffinity:
        matchNodePurpose: prefer
    userPods:
      tolerations:
        - key: hub.jupyter.org/dedicated
          operator: Equal
          value: user
          effect: NoSchedule
        - key: hub.jupyter.org_dedicated
          operator: Equal
          value: user
          effect: NoSchedule
      nodeAffinity:
        matchNodePurpose: prefer

  prePuller:
    revisionHistoryLimit:
    resources: {}
    hook:
      enabled: true
      pullOnlyOnChanges: true
      image:
        name: quay.io/jupyterhub/k8s-image-awaiter
        tag: "4.3.2"
      podSchedulingWaitDuration: 10
      resources: {}
      
    continuous:
      enabled: true
      
    pullProfileListImages: true
    
    pause:
      image:
        name: registry.k8s.io/pause
        tag: "3.10.1"

  ingress:
    enabled: false

  httpRoute:
    enabled: false
    
  cull:
    enabled: true
    users: false
    adminUsers: true
    removeNamedServers: false
    timeout: 3600
    every: 600
    concurrency: 10
    maxAge: 0

  debug:
    enabled: false

  global:
    safeToShowValues: false

enterprise-gateway:
  enabled: true
  image: sondn1/enterprise-gateway:3.2.3-rc1
  
  service:
    type: "ClusterIP"
    ports:
      - name: "http"
        port: 8888
        targetPort: 8888
      - name: "http-response"
        port: 8877
        targetPort: 8877

  deployment:
    enabled: true
    serviceAccountName: 'enterprise-gateway-sa'
    terminationGracePeriodSeconds: 30
    resources: {}
    replicas: 1
    extraEnv:
      EG_INHERITED_ENVS: "PATH"
      # EG_LISTEN_IP: 0.0.0.0
      # EG_RESPONSE_IP: 0.0.0.0
      EG_RESPONSE_ADDRESS: enterprise-gateway.jupyterhub.svc.cluster.local:8877
      RESPONSE_ADDRESS: enterprise-gateway.jupyterhub.svc.cluster.local:8877

  logLevel: DEBUG
  mirrorWorkingDirs: false

  kernel:
    clusterRole: kernel-controller
    shareGatewayNamespace: true
    launchTimeout: 60
    cullIdleTimeout: 3600
    cullConnected: false
    allowedKernels:
      - python_kubernetes
      - spark_python_kubernetes
      - spark_python_operator
    defaultKernelName: spark_python_operator

  nfs:
    enabled: false

  kernelspecsPvc:
    enabled: false

  kip:
    enabled: true
    serviceAccountName: 'kernel-image-puller-sa'
    serviceName: enterprise-gateway
    server:
      protocol: http
      port: 8888
      validate_cert: false
    image: elyra/kernel-image-puller:3.2.3
    interval: 300
    criSocket: /var/run/docker.sock
    defaultContainerRegistry: docker.io
    fetcher: KernelSpecsFetcher
    resources: {}
    